* {
    font-family: Arial, Helvetica, sans-serif;
}
p {
    text-align: justify;
}
body {
    background-image: linear-gradient(to right, #006d77, 
    #83c5be);
}
main {
    background-color: white;
    width: 600px;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 3px 15px #320e3b;
}

h1{
    color: #83c5be;
    text-align: center;
    text-shadow: 1px 1px 1px #4c726e;
}

h1 {
    color: #4c2a85;
}