@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    width: 100%;
    background-color: rgb(199, 198, 198);
}

header {
    background-color: gray;
    width: 100%;
}

header h1 {
    text-align: center;
}

span#menu {
    display: block;
    text-align: center;
    padding: 0;
    cursor: pointer;
    background-color: rgb(85, 85, 85);
}

header > menu#itens {
    display: none;
}

header > menu ul {
    list-style-type: none;
    background-color: rgb(136, 136, 136)
}

header > menu > ul > h3 {
    text-align: center;
    font-size: 1em;
    padding: 6px;
    background-color: rgb(155, 152, 152);
    border-bottom: 1px dashed black;
}

header > menu > ul > li {
    padding: 5px;
    text-align: center;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.733);
    border-bottom: 1px solid rgba(0, 0, 0, 0.356);
}

header > menu > ul > li:hover {
    background-color: rgb(185, 185, 185);
    color: #000;
}

main {
    width: 80%;
    margin: auto;
    margin-top: 10px;
    background-color: #fff;
    border-radius: 10px;
}

main > section {
    padding: 15px;
}

main > section > article p {
    text-align: justify;
    text-indent: 12pt;
    line-height: 1.5rem;
}